
<html>
    <body>
        <h2><%= @article.title %></h2>
        <p><%= @article.content %></p>
        <form method="post" action="/articles/<%= @article.id %>">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" />
        </form>
    </body>
</html>